.btn{
    &,
    &:link,
    &:visited{
        position: relative;
        padding:15px 40px;
        font-size: 16px;
        border: 0;
        border-radius: 100px;
        cursor: pointer;
        text-transform: uppercase;
        display: inline-block;
        transition: all .2s ease-in-out;
        
    }

     &::after{
        content:'';
        background-color: orange;
        height: 100%;
        width: 100%;
        position: absolute;
        top:0;
        left:0;
        z-index: -1;
        border-radius: 100px;
          transition: all .4s ease-in-out;
        background-color: inherit;
     }

    &-white{
        background-color: $color-white;
        color: $color-gray-dark;

    }

    &:hover,
    &:focus{
        transform: translateY(-4px);
        box-shadow:0 10px 20px rgba($color-dark,.4);

        &::after{
        transform: scaleX(1.4) scaley(1.6);
        opacity: 0;
    }
    }

    &:active{
        transform: translateY(-2px);
         box-shadow:0 5px 10px rgba($color-dark,.4);
    }
    
    &-text{
        &,
        &:is(:link, :visited){
            font-size: 16px;
            color:$color-primary;
            cursor: pointer;
            text-transform: capitalize;
            padding: 3px;
            display: inline-block;
            border-bottom: 1px solid $color-primary ;
            transition: all .2s ease-in-out;
        }

        &:is(:hover, :focus){
            background-color: $color-primary ;
            color: $color-white;
            transform: translateY(-2px);
            box-shadow: 0 10px 20px rgba($color-dark,.2);
        }
       &:active{
           transform: translateY(-2px);
            box-shadow: 0 10px 20px rgba($color-dark,.2);
       }

    }


}