.story{

    background-color: rgba($color-white, .6);
    width:80%;
    margin:0 auto;
    box-shadow: 0 30px 60px rgba($color-dark, .1);
    border-radius: 3px;
    transform: skewX(-12deg);
    padding:50px;
   


    > *{
        transform: skewX(12deg);
    }

    &-shape{
        width:150px;
        height:150px;
        float: left;
        clip-path: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        margin-right: 40px;
        position: relative;
        
        

        img{
            height:100%;
            width:100%;
            object-fit: cover;
            transform: scale(1.4);
            transition: all 0.3s ease-in-out;
        }



    }

    &-caption{
        position: absolute;
        left: 50%;
        top:150%;
        z-index: 1;
        color:white;
        
        text-align: center;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        opacity: 0;
        transition: all .3s ease-in-out;
    }

    &:is(:hover, :focus, :active){
        img{
            transform: scale(1);
            filter: blur(2px) brightness(.7);
        }
    }

     &:is(:hover, :focus, :active) &-caption{
        top:50%;
        opacity: 1;
     }
}