
$color-primary : #55c57a;
$color-primary-light:#7ed56a;
$color-primary-dark:#28b485;

$color-primary-light-op:rgba(126,213,111,.8);
$color-primary-dark-op:rgba(40,180,133,.8);


$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-tartiary-light:#2998ff;
$color-tartiary-dark:#5643fa;

$color-gray-dark:#777;
$color-gray-dark-1:#333;

$color-gray-ligth-1:#f7f7f7;
$color-gray-light-2:#eee;

$color-white:#fff;
$color-dark:#000;
