@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-weight: 400;
  line-height: 1.7;
  font-family: "Lato", "sans-serif";
  color: #777;
  font-size: 16px;
  padding: 20px;
  text-align: center;
}

.primary-heading {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56a), to(#28b485));
  background-image: linear-gradient(to right, #7ed56a, #28b485);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-bottom: 80px;
}
.primary-heading:is(:hover, :focus, :active) {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  text-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
}

.secondary-heading {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.para {
  font-size: 16px;
}
.para:not(:last-child) {
  margin-bottom: 30px;
}

a:link, a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
}

.text-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-left {
  text-align: left;
}

.mb-80 {
  margin-bottom: 80px;
}

@-webkit-keyframes moveInleft {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  75% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes moveInleft {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  75% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}
@-webkit-keyframes moveInright {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  75% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes moveInright {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  75% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

[class^=col-] {
  padding: 0 15px;
}

.col-3 {
  width: 25%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25;
          flex: 0 0 25;
}

.col-4 {
  width: 33.3333333333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333333333;
          flex: 0 0 33.3333333333;
}

.col-6 {
  width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50;
          flex: 0 0 50;
}

.col-12 {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100;
          flex: 0 0 100;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url(../image/hero.jpg);
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../image/hero.jpg);
  height: 90vh;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: relative;
}
.header .logo {
  position: absolute;
  top: 40px;
  left: 40px;
  display: inline-block;
  width: 75px;
}
.header .logo img {
  width: 100%;
}
.header-text-box {
  color: #fff;
  text-transform: uppercase;
}
.header-primary {
  font-size: 40px;
  font-weight: 200;
  letter-spacing: 25px;
  -webkit-animation: moveInleft 1s ease-in-out;
          animation: moveInleft 1s ease-in-out;
}
.header-secondary {
  font-size: 16px;
  letter-spacing: 15px;
  margin-bottom: 30px;
  -webkit-animation: moveInright 1s ease-in-out;
          animation: moveInright 1s ease-in-out;
}

.section-about {
  padding: 250px 0;
  background-color: #f7f7f7;
  margin-top: -200px;
}

.section-features {
  padding: 200px 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 106, 0.8)), to(rgba(126, 213, 106, 0.8))), url(../image/nat-4.jpg);
  background-image: linear-gradient(to right bottom, rgba(126, 213, 106, 0.8), rgba(126, 213, 106, 0.8)), url(../image/nat-4.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
  margin-top: -100px;
}
.section-features > * {
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}

.section-tours {
  padding: 250px 0 150px;
  background-color: #f7f7f7;
  margin-top: -100px;
}

.btn, .btn:link, .btn:visited {
  position: relative;
  padding: 15px 40px;
  font-size: 16px;
  border: 0;
  border-radius: 100px;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn::after {
  content: "";
  background-color: orange;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 100px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: inherit;
}
.btn-white {
  background-color: #fff;
  color: #777;
}
.btn-green {
  background-color: #28b485;
  color: #fff;
}
.btn:hover, .btn:focus {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
.btn:hover::after, .btn:focus::after {
  -webkit-transform: scaleX(1.4) scaley(1.6);
          transform: scaleX(1.4) scaley(1.6);
  opacity: 0;
}
.btn:active {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}
.btn-text, .btn-text:is(:link, :visited) {
  font-size: 16px;
  color: #55c57a;
  cursor: pointer;
  text-transform: capitalize;
  padding: 3px;
  display: inline-block;
  border-bottom: 1px solid #55c57a;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn-text:is(:hover, :focus) {
  background-color: #55c57a;
  color: #fff;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn-text:active {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.composition {
  position: relative;
}
.composition-img {
  width: 55%;
  border-radius: 2px;
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  position: absolute;
  outline-offset: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.composition-img-1 {
  left: 0;
  top: -20px;
}
.composition-img-2 {
  right: 0;
  top: 20px;
}
.composition-img-3 {
  top: 100px;
  left: 25px;
}
.composition-img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 5;
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  outline: 15px solid #55c57a;
}
.composition:hover .composition-img:not(:hover) {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 25px;
  border-radius: 3px;
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.feature-box:is(:hover, :focus, :active) {
  -webkit-transform: scale(1.05) translateY(-15px);
          transform: scale(1.05) translateY(-15px);
}
.feature-box > i {
  display: inline-block;
  font-size: 50px;
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56a), to(#28b485));
  background-image: linear-gradient(to right, #7ed56a, #28b485);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  text-align: center;
}

.card {
  height: 520px;
  position: relative;
}
.card-side {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
          box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}
.card-side-front {
  background-color: #fff;
}
.card-side-back {
  background-color: blue;
  -webkit-transform: perspective(1500px) rotateY(180deg);
          transform: perspective(1500px) rotateY(180deg);
}
.card-side-back-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card-side-back-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56a), to(#28b485));
  background-image: linear-gradient(to right bottom, #7ed56a, #28b485);
}
.card-side-back-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa));
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card .card-img {
  height: 230px;
  background-size: cover;
  background-position: center;
  background-blend-mode: screen;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card .card-img-1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb900), to(#ff7730)), url(../image/nat-5.jpg);
  background-image: linear-gradient(#ffb900, #ff7730), url(../image/nat-5.jpg);
}
.card .card-img-2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7ed56a), to(#28b485)), url(../image/nat-6.jpg);
  background-image: linear-gradient(#7ed56a, #28b485), url(../image/nat-6.jpg);
}
.card .card-img-3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2998ff), to(#5643fa)), url(../image/nat-7.jpg);
  background-image: linear-gradient(#2998ff, #5643fa), url(../image/nat-7.jpg);
}
.card:hover .card-side-front {
  -webkit-transform: perspective(1500px) rotateY(-180deg);
          transform: perspective(1500px) rotateY(-180deg);
}
.card:hover .card-side-back {
  -webkit-transform: perspective(1500px) rotateY(0deg);
          transform: perspective(1500px) rotateY(0deg);
}
.card-heading {
  position: absolute;
  right: 20px;
  top: 100px;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 28px;
  width: 70%;
  text-align: right;
  color: #fff;
}
.card-heading-span {
  padding: 10px 15px;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}
.card-heading-span-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card-heading-span-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56a), to(#28b485));
  background-image: linear-gradient(to right bottom, #7ed56a, #28b485);
}
.card-heading-span-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa));
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card-details {
  padding: 30px;
}
.card-details ul {
  width: 80%;
  margin: 0 auto;
}
.card-details ul li {
  font-size: 16px;
  text-transform: capitalize;
  padding: 10px;
}
.card-details ul li:not(:last-child) {
  border-bottom: 1px solid #f7f7f7;
}
.card .card-cta {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}
.card-price-only {
  text-transform: uppercase;
}
.card-price-value {
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 60px;
}