.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right bottom, $color-primary-light-op, $color-primary-dark-op),
    url(../image/hero.jpg);

    height: 90vh;

    clip-path: polygon(0 0,100% 0,100% 75%,0 100%);
    position: relative;

    .logo{

        position: absolute;
        top:40px;
        left:40px;
        display: inline-block;
        width:75px;

        img{
        width:100%;

    }
    
    }

    &-text-box{
        color:$color-white;
        text-transform: uppercase;
    }

    &-primary {
    font-size: 40px;
    font-weight: 200;
    letter-spacing: 25px;
    animation: moveInleft 1s ease-in-out;
  }

    
    &-secondary{
        font-size:16px;
        letter-spacing:15px;
        margin-bottom: 30px;
         animation:moveInright 1s ease-in-out;
    }

 
}