.section-about{
    padding:250px 0;
    background-color:$color-gray-ligth-1;
    margin-top: -200px;
  
}

.section-features{
    padding:200px 0;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, .8), rgba($color-primary-light, .8)),
    url(../image/nat-4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    transform: skewY(-7deg);
    margin-top:-100px;

    >*{
        transform: skewY(7deg);
    }
}

.section-tours{
    padding:250px 0 150px;
    background-color: $color-gray-ligth-1;
    margin-top:-100px;
}